h3 {
  text-align: center;
  font-size: 16;
  color: DarkSlateGrey;
}

* {
  font-family: "georgia";
}

.nav-tabs {
  background-color: White;
}

.image {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

body {
  background-color: White;
  color: Black;
  border-color: White;
}

.indented {
  padding-left: 20pt;
  padding-right: 20pt;
}