h3 {
  text-align: center;
  font-size: 16;
  color: DarkSlateGrey;
}

* {
  font-family: "georgia";
}

body {
  background-color: White;
  color: Black;
  border-color: White;
}

.indented {
  padding-left: 20pt;
  padding-right: 20pt;
}