h3 {
  text-align: center;
  font-size: 16;
}

* {
  font-family: "georgia";
}

body {
  background-color: White;
  color: Black;
  border-color: White;
}

.activeTab  {
    color: green; 
}

.inactiveTab { 
    color:gray; 
}